{% extends "layout.html"%}
{% block content %}
<!-- <div class="page-header">
  <h3 class="page-title">About</h3><hr>
</div> -->
<div style="text-align: center;font-weight: bold;font-family: georgia;font-size: 30px;">
    INFRASOUND
</div>

<p>
    <ol>
        <li>
            People with hearing disabilities regularly face difficultieswhile having conversations ondifferent occasions.
    But a lot of people’s disabilities cannotbe cured using a hearing aid or they cannot affordit. For such people, the only option iseither communicating using sign language and usinglip-reading or a combination of both.
        </li>
        <li>
            Sign language has evolved manifolds over the yearsand it allows for effectivecommunication but the huge catch is not many peoplein the world sign languageprimarily because it is not that easy to learn andcan take years to gain even a passableproficiency
    Now the benefit of lip reading is that the other persondoes not need to learn signlanguage to communicate and they can do so by correctlyenunciating their speech.
        </li>
        <li>
            Our App focuses on helping such people by featureslike “Lip Reading Tutorial”, ”SignLanguage Tutorial”. These features help them practiceand improvise their abilities tounderstand whatever the other person is saying whilehaving a real conversation.On the other hand, “Speech Assistance” features helpus know how fast or slow we aretalking so that we can change the speed accordinglyto give a better presentation.
        </li>
        <li>
            While watching videos a person with a hearing disabilityoften can’t understand what theperson is trying to convey because lip-reading atthat pace is almost next to impossible.The feature “Video Transcript” generates auto-subtitlesand can help them betterunderstand the context of the video.
        </li>

    </ol>
    <b>Contributors:-</b>
    <ol>
        <li>Sumit Kumar Yadav</li>
        <li>Smayan Das</li>
        <li>Rajdeep Das</li>
        <li>Armish Masood</li>
        <li>Bhargav Priyadarshi</li>
    </ol>
    
    
</p>
{% endblock content%}

  